<h1>Lista de Funcionários</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Rg</th>
      <th>Salario</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.email %></td>
        <td><%= funcionario.rg %></td>
        <td><%= number_to_currency funcionario.salario %></td>
        <td><%= link_to 'Mostrar', funcionario, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario), :class => "btn btn-success" %></td>
        <td><%= link_to 'Destruir', funcionario, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionário', new_funcionario_path, :class => "btn btn-info" %>
